@font-face {
  font-family: 'MinecraftiaRegular';
  src: local('sans-serif'), url('../fonts/MinecraftiaRegular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('sans-serif'), url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: local('sans-serif'), url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('sans-serif'), url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: local('sans-serif'), url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-display: swap;
}

html body {
  margin: 0;
  padding: 0;
  background-color: #6200ee;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  overflow-x: hidden;
}

p span {
  font-family: 'Roboto-Light';
  color:#fff;
}

[type=text] {
  display: block;
  max-width: 40rem;
  min-width: 20rem;
  height: 2.5em;
  border-radius: 0.8rem;
  border-color: #000;
  border-style: solid;
  text-align: center;
  text-decoration: #000;
  background-color: #eee;
  display: block;
  margin: 0 auto;
  font-family: 'MinecraftiaRegular'; 
}

::placeholder {
  color: #aaa;
  font-family: 'MinecraftiaRegular'; 
}

.nav {
  align-items: center;
  align-self: center;
  font-family: 'Roboto-Medium';
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.navtext {
  text-align: center;
  color: #fff;
  margin: 0 auto;
}


li { 
  list-style: none;
  display: inline-block;
  padding-left: 2rem;
  padding-right: 2rem;
}

ul {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.char_count {
  color: #ddd;
  font-family: 'Roboto-Thin';
  width: 40rem;
  width: 100%;
  height: 2.5em;
  text-align: center;
  justify-content: center;
  text-decoration: #000;
  display: flex;
  margin: 0 auto;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 10rem auto;
  border: 0.1rem solid #000;
  width: auto;
  max-width: 30rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.modal-header {
  background-color: #F9F9F9;
  padding: 1.3rem;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 0.1rem solid #CCC;
}

.modal-body {
  background-color: #FEFEFE;
  padding: 1rem;
  padding-right: 3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-family: 'Roboto-Medium';
}

.modal-title {
  font-family: 'Roboto-Bold';
  color: #000;
  margin: 0;
}

.modal-close {
  color: #B00020;
  float: right;
  font-size: 2rem;
  margin-top: -0.6rem;
  margin-right: 0.2rem;
  transition: ease 150ms;
}

.modal-close:hover,
.modal-close:focus {
  color: #5f0011;
  text-decoration: none;
  cursor: pointer;
  transition: ease 1500ms;
}

.result {
  font-family: 'Roboto-Medium';
  color: #fff;
  line-height: 90%;
  margin-top: 1rem;
}