@font-face {
  font-family: 'MinecraftiaRegular';
  src: url('../fonts/MinecraftiaRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

html body {
  margin: 0;
  padding: 0;
  background-color: #6200ee;
}

p {
  font-weight: normal;
  font-style: normal;
}

p span {
  font-family: 'Roboto-Light';
  color:#fff;
  font-weight: normal;
  font-style: normal;
}

[type=text] {
  display: block;
  max-width: 60rem;
  min-width: 40rem;
  height: 2.5em;
  border-radius: 0.8rem;
  border-color: #000;
  border-style: solid;
  text-align: center;
  text-decoration: #000;
  background-color: #eee;
  display: block;
  margin: 0 auto;
  font-family: 'MinecraftiaRegular'; 
  font-weight: normal; 
  font-style: normal; 
}

::placeholder {
  color: #aaa;
  opacity: 1;
  font-family: 'MinecraftiaRegular'; 
  font-weight: normal; 
  font-style: normal; 
}

.navbar {
  display: inline;
  align-items: center;
  align-self: center;
  background-color: #6200ee;
  position: fixed;
  font-family: 'Roboto-Medium';
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
}

.navtext {
  color: white;
}

.brand img {
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.2rem;
}
.nav-container {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 20rem;
  padding-right: 20rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
  font-style: normal;
}
.nav-list {
  align-items: center;
}

@media screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }

}

li { 
  list-style: none;
  display: inline-block;
  padding-left: 2rem;
}

a {
  text-decoration: none;
}

.solver {
  text-align: center;
  align-items: center;
  align-self: center;
  padding-top: 10rem;
}

.char_count {
  color: #ddd;
  text-align: center;
  align-items: center;
  align-self: center;
  font-family: 'Roboto-Thin';
  width: 40em;
  min-width: 20em;
  margin: 0 auto;
  padding: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 5rem;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 10rem auto;
  border: 0.1rem solid #000;
  width: auto;
  max-width: 30rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.modal-header {
  background-color: #F9F9F9;
  padding: 1.3rem;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 0.1rem solid #CCC;
}

.modal-body {
  background-color: #FEFEFE;
  padding: 1rem;
  padding-right: 3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-family: 'Roboto-Medium';
  font-style: normal;
}

.modal-title {
  font-family: 'Roboto-Bold';
  color: #000;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

.modal-close {
  color: #B00020;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -0.6rem;
  margin-right: 0.2rem;
  transition: ease 150ms;
}

.modal-close:hover,
.modal-close:focus {
  color: #5f0011;
  text-decoration: none;
  cursor: pointer;
  transition: ease 1500ms;
}

li :active {
  color: #ccc;
}

.result {
  font-family: 'Roboto-Medium';
  color: #fff;
  font-style: normal;
}
